<div class="signup-page-main-container">
    <div class="signup-wrapper">
        <div class="signup-left-side">
            <div class='overlay'>
            </div>
        </div>
        <div class="signup-right-side">
            <div class="header">
                <div class="logo-wrapper">
                    <%= image_tag("logo.svg") %>
                </div>
                <div class="title">
                    <h3>Login to your account</h1>
                </div>
            </div>
            <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="form-control">
                <i class="bi bi-person"></i>
                <%= f.text_field :username, placeholder: "Username", autofocus: true %>
            </div>
            <div class="submit-btn">
                <%= f.submit "Login" %>
            </div>
            <div class="or-divider">
                <div class="line">
                </div>
                <h3 class="or">OR</h3>
                <div class="line">
                </div>
            </div>

            <div class="already-registered">
                <p>
                    <span>Don't have an account? </span>
                </p>
                <%= link_to "Sign up", new_user_path %>
            </div>
            <%end %>
        </div>
    </div>
</div>