<div class="comment-item-container">
    <%= link_to users_path(comment.user) do %>
    <div class="comment-owner-image">
        <div class="image">
            <%= image_tag(comment.user.photo) %>
        </div>
    </div>
    <%end %>
    <div class="comment-details">
        <div class="comment-owner-names">
            <%= link_to users_path(comment.user) do%>
            <h3><%= current_user.full_name %></h3>
            <%end %>
            <span><%= comment.created_at.strftime("%Y/%m/%d")%></span>
        </div>
        <div class="comment-text">
            <%= comment.content %>
        </div>
    </div>
</div>