<div class="right-sidebar-main-container profile">
    <div class="profile-header">
        <div class="user-controls">
            <%if user.id != current_user.id%>
            <div class="following-details">
                <%= render_following_btn(user) %>
            </div>
            <%end%>

            <div class="user-images-wrapper">
                <div class="image">
                    <%= image_tag(user.photo, class:"user-img") %>
                </div>
            </div>
            <%if user.id != current_user.id%>
            <div class="user-details-icon">
                <i class="bi bi-list icon"></i>
            </div>
            <% else %>
            <%= link_to edit_user_path(current_user)  do %>
            <div class="user-details-icon">
                <i class="bi bi-pencil-fill icon"></i>
            </div>
            <%end %>
            <%end %>
        </div>
        <div class="user-name-details">
            <h3 class="names"><%= user.full_name %></h3>
            <span class="joined">Joined at <%= user.created_at.strftime("%Y/%m/%d")%></span>

        </div>
    </div>
    <div class="profile-stats">
        <ul>
            <li>
                <h3 class="number"><%= user.opinions.count %></h3>
                <span class="stat">Reviews</span>
            </li>
            <li>
                <h3 class="number"><%= user.following_users.count %></h3>
                <span class="stat">Following</span>
            </li>
            <li>
                <h3 class="number"><%= user.followers.count %></h3>
                <span class="stat">Followers</span>
            </li>
        </ul>
    </div>

    <% if user.id == current_user.id %>
    <div class="followers-following-list" data-controller="followers">
        <div class="tabs-wrapper">
            <ul>
                <li>
                    <a data-followers-target="followingBtn" class="" data-action="click->followers#showFollowing"> Following</a>
                </li>
                <li>
                    <a data-followers-target="followersBtn" class="" data-action="click->followers#showFollowers">Followed by</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="people-to-follow-wrapper current-user following-show" data-followers-target="following">
        <% user.following_users.each do |follower| %>
        <%= render "shared/follower", follower: follower %>
        <%end%>
    </div>
    <div class="people-to-follow-wrapper current-user followers-show" data-followers-target="followers">
        <% user.followers.each do |follower| %>
        <%= render "shared/follower", follower: follower %>
        <%end%>
    </div>
    <% else %>
    <div class="followed-by-area">
        <div class="followed-by-text">
            <h4>Followed by</h4>
        </div>
    </div>
    <div class="people-to-follow-wrapper">
        <% user.followers.each do |follower| %>
        <%= render "shared/follower", follower: follower %>
        <%end%>
    </div>
    <% end %>
</div>