<header>
    <%= link_to root_path do%>
    <div class="application-header-logo">
        <%= image_tag('logo.svg')%>
    </div>
    <%end%>
    <nav>
        <ul>
            <li>
                <%= link_to root_path do%>
                <i class="bi bi-pencil-square"></i>
                <%end%>
            </li>
            <li>
                <%= link_to root_path do%>
                <i class="bi bi-pencil-square"></i>
                <%end%>
            </li>
            <li>
                <%= link_to root_path do%>
                <i class="bi bi-pencil-square"></i>
                <%end%>
            </li>
            <li>
                <%= link_to root_path do%>
                <i class="bi bi-pencil-square"></i>
                <%end%>
            </li>
        </ul>
    </nav>
</header>